<h2 class="screen-align">Createseverity</h2>
<div id="template-ik1p" class="row">
    <div id="template-i9h6" class="cell">
        <label id="template-i5vt" class="label">name</label>
        <input id="template-iwcl" placeholder="enter name" [(ngModel)]="severity.name"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
        <button id="template-ixhb" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-i59i" class="cell">
        <label id="template-i9gj" class="label">description</label>
        <input id="template-isb4" placeholder="enter description"
        [(ngModel)]="severity.description" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
</div>